/*
Syntax error: Invalid CSS after "...margin-bottom: ": expected expression (e.g. 1px, bold), was ";"
        on line 3125 of /Users/Shared/Dropbox/DAYSCRIPT/CLIENTES/ACTIVOS/VIVENDO/vivendo-drupal/sites/all/themes/at-vivendo/sass/global.styles.scss

Backtrace:
/Users/Shared/Dropbox/DAYSCRIPT/CLIENTES/ACTIVOS/VIVENDO/vivendo-drupal/sites/all/themes/at-vivendo/sass/global.styles.scss:3125
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1149:in `expected'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/script/lexer.rb:206:in `expected!'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/script/parser.rb:478:in `assert_expr'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/script/parser.rb:49:in `parse'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1022:in `sass_script'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:882:in `value!'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:859:in `declaration'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:582:in `block in declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `call'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:543:in `block_contents'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `call'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `call'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:591:in `block in declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `call'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:1123:in `rethrow'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:592:in `declaration_or_ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:554:in `block_child'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:535:in `block'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:529:in `ruleset'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:553:in `block_child'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:546:in `block_contents'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:82:in `stylesheet'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/scss/parser.rb:27:in `parse'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/engine.rb:342:in `_to_tree'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:126:in `timed'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:138:in `block in compile'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/logger.rb:45:in `red'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:137:in `compile'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:101:in `each'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:101:in `block in run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:126:in `timed'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/compiler.rb:100:in `run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/commands/base.rb:18:in `execute'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/commands/project_base.rb:19:in `execute'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/bin/compass:30:in `block in <top (required)>'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/bin/compass:44:in `call'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/gems/compass-0.12.5/bin/compass:44:in `<top (required)>'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `load'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/bin/compass:23:in `<main>'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `eval'
/Users/jcorrego/.rvm/gems/ruby-1.9.3-p484/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...margin-bottom: \": expected expression (e.g. 1px, bold), was \";\"\A         on line 3125 of /Users/Shared/Dropbox/DAYSCRIPT/CLIENTES/ACTIVOS/VIVENDO/vivendo-drupal/sites/all/themes/at-vivendo/sass/global.styles.scss"; }
